apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: prisma-decision-api
spec:
  environments:
    - name: prod
    - name: test
      build:
        from: v0*
    - name: dev
      build:
        from: main|dev-deploy*
  components:
    - name: api
      src: .
      dockerfile: .
      ports:
        - name: http
          port: 8000
      publicPort: http
      secrets:
        - CLIENT_SECRET
        - APPINSIGHTS_CONNECTIONSTRING
      resources:
        requests:
          memory: '2000Mi'
          cpu: '200m'
        limits:
          memory: '10000Mi'
          cpu: '1000m'
        horizontalScaling:
          resources:
            memory:
              averageUtilization: 75
            cpu:
              averageUtilization: 85
          minReplicas: 1
          maxReplicas: 3
      environmentConfig:
        - environment: prod
          replicas: 1
          variables:
            CLIENT_ID: '706ace43-0266-478e-a047-942162b6e1ff'
            REDIRECT_URL: 'https://api-prisma-decision-api-prod.radix.equinor.com/docs/oauth2-redirect'
            AUDIENCE: "706ace43-0266-478e-a047-942162b6e1ff"
            SCOPE: '706ace43-0266-478e-a047-942162b6e1ff/Read'
            APP_ENV: 'prod'
            DATABASE_CONN_PROD: 'DRIVER={ODBC Driver 18 for SQL Server};MARS_Connection=Yes;Server=sql-prisma-decision-prod.database.windows.net;Database=sqldb-prisma-decision-prod;'
          identity:
            azure:
                clientId: 4acc192d-fb5b-4c32-becb-5ab84231c033
        - environment: test
          replicas: 1
          variables:
            CLIENT_ID: '945882c1-69f4-41cd-a42a-22516ca01868'
            REDIRECT_URL: 'https://api-prisma-decision-api-test.radix.equinor.com/docs/oauth2-redirect'
            AUDIENCE: "945882c1-69f4-41cd-a42a-22516ca01868"
            APP_ENV: 'test'
            SCOPE: '945882c1-69f4-41cd-a42a-22516ca01868/Read'
            DATABASE_CONN_TEST: 'DRIVER={ODBC Driver 18 for SQL Server};MARS_Connection=Yes;Server=sql-prisma-decision-test.database.windows.net;Database=sqldb-prisma-decision-test;'
          identity:
            azure:
              clientId: 5efd12e5-f713-4eb2-93a3-2cd466689a20
        - environment: dev
          replicas: 1
          variables:
            CLIENT_ID: '4251833c-b9c3-4013-afda-cbfd2cc50f3f'
            REDIRECT_URL: 'https://api-prisma-decision-api-dev.radix.equinor.com/docs/oauth2-redirect'
            AUDIENCE: "4251833c-b9c3-4013-afda-cbfd2cc50f3f"
            APP_ENV: 'dev'
            DATABASE_CONN_DEV: 'DRIVER={ODBC Driver 18 for SQL Server};MARS_Connection=Yes;Server=sql-prisma-decision-dev.database.windows.net;Database=sqldb-prisma-decision-dev;'
            SCOPE: '4251833c-b9c3-4013-afda-cbfd2cc50f3f/Read'
          identity:
            azure:
              clientId: 9ddb8304-fd8c-4a35-8324-e0317a7fda45
